{% load staticfiles %}
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'formsapp/javascripts/forms.js' %}"></script>
	<link rel="stylesheet" href="{% static 'formsapp/css/style.css' %}">

  </head>
	<body>

		<form method="post" action="">
			{% csrf_token %}
			{{ data_formset.management_form }}

			{% for form in data_formset %}
				<div>
					 {{ form.value }}
				</div>
			{% endfor %}
			<input type="submit" value="Submit" />
			<button type="button" id="add-another">Add field</button>
		</form>
	</body>
</html>