<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
}
</style>




<form method="post" action="">
	{% csrf_token %}
    {{ data_formset.management_form }}

    {% for form in data_formset %}
        <div>
             {{ form.value }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" />
    <button type="button" id="add-another">add another</button>
</form>

<script type="text/javascript">
$( "#add-another" ).click(function() {
	var formCount = parseInt($("[name='form-TOTAL_FORMS']").val());
	console.log(formCount);
	var newForm = $('form').find('div').last().clone();//.appendTo('form');
	newForm.find('input').each(function(index, elem){
        elem.id = elem.id.replace(/\d/g, formCount) 
        elem.name = elem.name.replace(/\d/g, formCount)
        elem.value = ""
    });
	$("[name='form-TOTAL_FORMS']").val(formCount + 1);
	$('form').find('div').last().after(newForm)
  });
</script>